<div class="slideshow">
  <carousel>
    <slide>
      <img src="../../../assets/picture/nature/DSC_7387.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/picture/children/DSC_6262.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/picture/gyenda/DSC_7260.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/picture/nature/DSC_6692.jpg" alt="forth slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>
