@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

$border-radius: 0.4em;


.album-header {
  cursor: pointer;
  background-color:  mix(black, #08ffe7, 20);
  color: navajowhite;
  border-radius: $border-radius;
  box-shadow: 0.3em 0.2em 1em #091e24;
  transition: box-shadow 0.3s;
  display: block;
  &:hover {
    box-shadow: 0.5em 0.5em 2em darkslategray;
  }

  footer {
    font-size: 1em;
    text-align: center;
  }

  img {
    max-width: 400px;
    max-height: 270px;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }
}

.album-holder {
  position: fixed;
  clear: both;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 79, 79, 0.4);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  section {
    background-color:  black;
    margin: 0;
    width: 100%;
    height: 100%;
    header {
      display: inline-block;
      font-size: 1em;
      padding: 0.1em 1em;
      margin: 0;
      height: 2em;
      color: navajowhite;
      background-color: #020716;
      width: 100%;
      & > * {
        margin: 0;
        padding: 0;
        display: inline-block;
      }
      fa-icon {
        font-size: 1em;
        cursor: pointer;
        float: right;
        right: 0;
      }
    }

    article {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      height: 90%;
      .image-holder {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      fa-icon {
        font-size: 1em;
        color: navajowhite;
        cursor: pointer;
        margin: 0.5em;
      }
    }
  }
}

@include tablet {
  .album-header {
    footer {
      font-size: 3em;
      text-align: center;
      height: 5%;
    }

    img {
      max-height: 10em;
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
  }

  .album-holder {
    padding: 0;
    margin: 0;
    line-height: 0;
    section {
      background-color:  black;
      margin: 0;
      width: 100%;
      height: 100%;
      header {
        font-size: 1em;
        margin: 0;
        height: 3em;
        width: 100%;
        h1 {
          padding: 15px;
        }
        fa-icon {
          cursor: pointer;
          float: right;
          right: 0;
        }
      }

      article {
        height: 90%;
        .image-holder {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }

        fa-icon {
          font-size: 3em;
          margin: 0.1em;
        }
      }
    }
  }
}
