<app-slideshow></app-slideshow>
<div class="text-box" id="first">
  <h2>Üdvözöllek a honlapon!</h2>
  <q>
    A fotográfia képes azon pillanat érzését felerősíteni, amit akkor éltem meg, amikor exponáltam. A fényképnek nincs is más választása. A fotográfia nem lát a jövőbe. Meg persze a múltba sem. Egy kép mindössze az a pont, ahol a jövő összeér a múlttal. Ha úgy tetszik: a folyamatos jelen.
  </q>
</div>
<div class="text-box" id="second">
  <h2>Projekt #2</h2>
  <p>
    A hétvége folyamán egy jiu jitsu versenyen fogok fotózni. Nagy kihívás hiszen nem ismerem a sportágat, viszont annyit
    tudok, hogy nagyon hasonlít a Judóra. Nagyon várom ezt a feladatot, hiszen igazán ez az amivel foglalkozni szeretnék
    a sport fotózás. Köszönöm a lehetőséget a szervezőknek, hogy részt vehetek az eseményen és tapasztalatot szerezhetek.
    <br>
    Részletes beszámoló az esemény után a "Projektek" menüre kattintva olvasshatjátok.
  </p>
</div>

<div class="text-box" id="third">
  <h2>Projekt #1</h2>
  <p>
    A napokban egy halloween témát boncolva fogok kisgyerekekről képet csinálni. Nehézséget az okoz, hogy saját hátteret
    alkotok. Nem megszokott háttér, alap sablont nem használok, viszont minden mást, amit el lehet képzelni halloween
    témában megjelenik majd. Lesz csontváz, halloween tök, pókháló, rémísztő dolgok tárháza.
    <br>
    Ha kíváncsi vagy Kattints az "Projektek" menüre.
  </p>
</div>
